
peripherals/*/sint/de10_lite/db
peripherals/*/sint/de10_lite/incremental_db
peripherals/*/sint/de10_lite/output_files
peripherals/*/sint/de10_lite/simulation
peripherals/*/sint/de10_lite/*.bak
peripherals/*/sint/de10_lite/*.qdf

peripherals/*/*.s
peripherals/*/transcript
peripherals/*/*.wlf
peripherals/*/work
peripherals/*/*.bak

software/*/*.o
software/*/*.map
software/*/*.elf
software/*/*.tmp
software/*/*.hex
software/*/*.lss