/.metadata/
/i2c_master/.settings/
/i2c_master/.library_mapping/
/i2c_master/.project
/i2c_master/vsim.wlf
/i2c_master/wave.ps
/i2c_master/wlft5cdrw5
/i2c_master/wlftrx0znt
/i2c_master/.library_mapping.xml
/i2c_master/../.gitignore
