# For Eclipse / Sigasi:
.project
.library_mapping.xml
.settings

# For Quartus:
*/sint/*
!*/sint/de10_lite.qpf
!*/sint/de10_lite.qws
!*/sint/de10_lite.qsf
!*/sint/de10_lite.sdc
!*/sint/de10_lite.ipregen.rpt
!*/sint/de10_lite_description.txt
!*/sint/de10_lite_assignment_defaults.qdf
!*/sint/*.md

# For Modelsim:
*.ps
